.mainContainer {
  max-width: 100%;
  overflow: auto;
  font-family: var(--primary-font);
}

.mainContainer h2 {
  color: darkorange;
}

.apptsTable {
  border-collapse: collapse;
}

.apptsTable th {
  text-wrap: nowrap;
  border: 1px solid lightgrey;
  padding: 0.8rem;
}

.apptsTable td {
  text-wrap: nowrap;
  border: 1px solid lightgrey;
  padding: 0.8rem;
}

.viewDescBtnFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewDescBtn {
  border: 0;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
}
